.header {
    background: linear-gradient(rgba(195,55,100,.9),rgba(29,38,113,.9)),url(../Header/hero.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 27vh;
}

.main-content h2 {
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main-content span {
    font-size: 35px;
    
}



.header button {
    background: transparent;
    border: 1px solid #fff;
    padding: 10px;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    transition: all .2s;
}

.header button:hover {
    background: #221f3b;
    border: 1px solid #221f3b;
    outline: none; 
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .main-content h2 {
        font-size: 35px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 450px) {
    .main-content h2 {
        font-size: 33px;
        text-align: center;
    }
}