nav {
    display: flex;
    justify-content: space-between;
}
.main-head {
    font-family: 'monoton';
    margin: 0;
    font-size: 23px; 
    padding: 15px;
    font-weight: 400;
}

nav h2 {
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s;
}

nav h2:hover {
    text-decoration: underline;
}